body, html {
  height: 100%;
}

.masthead {
  height: 100%;
  background-image: url("assets/img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
